/*********************

use this file only to override global element 
styles that have not already been modified in normalize.css

**********************/
a{
	color:inherit;
	text-decoration:none;
}
ul{
	list-style-type:none;
	margin:0;
	padding:0;

}
ol{
	margin:0;
	padding:0 0 0 14px;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
	padding:0;
	margin:0;
	color:#7e6b8a;
}

b, strong{
	font-family: CircularStdBook,arial,helvetica,sans-serif;
	font-weight:normal;
}

input,select{
	font-family: CircularStdBook,arial,helvetica,sans-serif;
}
input:focus,button:focus,[tabIndex="0"]:focus,a:focus,select:focus{
	outline:none;
}

.isKeyboardUser input:focus,
.isKeyboardUser input[type="radio"]:focus + label,
.isKeyboardUser button:focus,
.isKeyboardUser a:focus,
.isKeyboardUser [tabIndex="0"]:focus,
.isKeyboardUser select:focus{
	outline:1px dotted #9633FE;
	outline-offset: 1px;

}
select{
	border:0;
	border-bottom:1px solid #998ba4;
	padding:6px 0;
	width:100%;
	font-size:18px;
	font-size:1.8rem;
	color:#7e6b8a;
}
select:focus{
	color:#7e6b8a;
	border-color:#9633FE;
}
.selectWrapper{
	position:relative;
}
.selectWrapper::after{
	 -webkit-appearance: none; 
   -moz-appearance: none;
   appearance: none; 
   font-size:10px;
	font-size:1rem;
	font-family: 'soloIcons';
	content:"\e905";
	width:20px;
	height:100%;
	background:#FFF;
	position:absolute;
	right:0;
	top:-1px;
	padding:12px 0 0;
}
select option {
	background-color:#f9f8fa;
}